.container {
    display: flex;
    justify-content: space-between;
}

.main {
    flex: 3; /* Takes 3 parts of the space */
}

/*.add-category-container   {*/
/*    flex: 1;*/
/*    background: white;*/
/*    padding: 20px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*    margin: 60px 20px;*/
/*    height: fit-content;*/
/*    color: #19224a;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*}*/

.add-category-container {
    flex: 1;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 60px 20px;
    height: fit-content;
    color: #19224a;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 400px; /* اختيارية حسب التصميم */
    width: 100%;
}


.add-category-container h3 {
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

.add-category-container input {
    width: 90%;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 15px; /* Adds spacing between input and button */
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: left; /* Align text to the left */
}

.add-category-container button {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background: #28a745;
    color: white;
    cursor: pointer;
}

.add-category-container button:hover {
    background: #218838;
}

button:disabled {
    cursor: not-allowed;             /* Show 'not allowed' cursor */
    opacity: 0.7;                    /* Slightly faded look */
    border: 1px solid #999;          /* Slight border to match */
    pointer-events: none;            /* Prevent any click interactions */
    transition: 0.3s ease;
}
